<%- partial('_partial/head') %>
<body>
    <div class="container">
        <%- partial('_partial/header') %>
        <%- partial('_partial/navbar') %>
    </div>

    <%- body %>

    <%- partial('_partial/footer') %>
    <%- partial('_partial/javascript') %>
</body>
</html>