<header>
    <div class="container">
        <div class="row">
            <div class="">
                <h1><%- item.title || "Untitled" %></h1>
                <% if (item.subtitle && item.subtitle.length ) { %>
                <h2><%- item.subtitle %></h2>
                <% } %>
                <span>
                    <% if(item.author) { %>
                        Posted by <%- item.author %> on
                    <% } %>
                    <% if(item.date) { %>
                        <%= item.date.format(config.date_format) %>
                    <% } %>
                </span>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="">
                <%- item.content %>
            </div>

            <% if (item.comment != false) { %>
                <div class="">
                    <%- partial('comments.ejs') %>
                </div>
            <% } %>
        </div>
    </div>
</article>