<div class="blog-post">
    <h2 class="blog-post-title"><a href="<%= item.url %>"><%- item.title %></a></h2>
    <p class="blog-post-meta"><%= item.date.format(config.date_format) %> by <a href="#"><% if (item.author){ %><%= item.author %><% } else { %><% config.author %><% } %></a></p>
</div>