<footer>
    <hr/>
    <div class="container">
        <a href="https://hexo.io">Proudly powered by Hexo</a><br/>
        &copy; 2018 <a href="https://gitlab.com/BerkhanBerkdemir/hexo-theme-ybb">hexo-theme-ybb</a> All Rights Reserved.
    </div>
</footer>