<!DOCTYPE html>
<html lang="<%= config.language %>">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= config.description %>"/>
    <meta name="author" content="<%= config.author %>"/>
    <% if (theme.favicon) { %><link rel="icon" href="<% theme.favicon %>"/> <% } %>
    <%- partial('google-analytics') %>
    <title><%= config.title %></title>
    <%- partial('stylesheet') %>
</head>