<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                <%= config.subtitle %>
            </h3>

            <% page.posts.each(function(item){%>
                <%- partial('article-index', {item: item}) %>
            <% }) %>

            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <%- partial('_widget/about.ejs') %>
            <%- partial('_widget/archive.ejs') %>
            <%- partial('_widget/social-media.ejs') %>
        </aside><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</main>