<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
        <!-- <a class="p-2 text-muted" href="#">World</a>
        <a class="p-2 text-muted" href="#">U.S.</a>
        -->
        <% for (var i in theme.menu){ %>
        <a class="p-2" text-muted href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
    </nav>
</div>